.app-modal.ant-modal {
  .ant-modal-title {
    font-size: 24px;
  }
  .ant-modal-content {
    padding: 32px;
  }
  .ant-form-item {
    margin-bottom: 15px;
  }
  .ant-space {
    width: 100% !important;
  }
  .button-space {
    justify-content: center;
  }
  .ant-picker-outlined {
    width: 100%;
    padding: 7px 11px;
    font-size: 16px;
  }
}
