
.ant-menu-submenu-popup.ant-menu-dark {
    .ant-menu.ant-menu-sub.ant-menu-vertical {
        background: #014788;
        .ant-menu-item:hover {
            color: #fff;
            background-color: #1677ff;
        }
    }
}