.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .login-form {
    width: 400px;
    border: 2px solid #1677ff;
    padding: 48px;
    border-radius: 16px;
    h1 {
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
    margin-top: 10px;
  }
}
